@import url('https://fonts.goohttps://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,300&display=swapgleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

/* Nav */
.nav-wrapper {
  display: flex;
  justify-content: flex-end;
  background: red;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  margin-right: 2em;
}