@import url('https://fonts.goohttps://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,300&display=swapgleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

/* Nav */
.nav-wrapper {
  display: flex;
  justify-content: flex-end;
  background: grey;
  height: 50px;
  padding-top: 10px;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  margin-right: 2em;
  list-style: none;
}

/* Main */
header {
  display: flex;
  flex-direction: row;
  background: seashell;
  column-gap: 2em;
  padding: 4em;
}

.header-text-container {

}

.header-screenshot {
  border: 1px solid black;
}

/* How It Works */
.howitworks-container {
  padding: 4em;
}

/* About Us */
.about-us-container {
  display: flex;
  flex-direction: row;
  background: seashell;
  column-gap: 2em;
  padding: 4em;
}

.aboutus-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 20em;
  background: white;
  border: 1px solid black;
}

.changetoimg {
  background: grey;
  color: white;
  width: auto;
  height: 70%;
}

.aboutus-contact {
  text-align: center;
}